body {
    background: #000;
    color: #0f0;
    font-family: monospace;
    text-align: center;
    padding: 20px;
}
button {
    padding: 10px 25px;
    font-size: 17px;
    cursor: pointer;
    margin: 10px;
}
textarea {
    width: 90%;
    height: 200px;
    margin-top: 20px;
}
