body {
  background: #0b0f18;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.box {
  width: 90%;
  max-width: 420px;
  background: #111a25;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #32e67a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.code {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

.download {
  display: block;
  margin-top: 20px;
  background: #ff8a3d;
  padding: 10px;
  color: black;
  font-weight: bold;
  border-radius: 6px;
}
