body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url("wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.overlay {
  backdrop-filter: blur(4px);
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background: rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  padding: 25px;
  margin: 10px auto;
  max-width: 95%;
  text-align: center;
  color: #fff;
}

.profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #00ff90;
  object-fit: cover;
}

.title {
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to right, orange, green);
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle {
  font-size: 16px;
  opacity: 0.9;
}

.input {
  width: 90%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn {
  margin-top: 20px;
  width: 90%;
  padding: 12px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, orange, green);
  color: white;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  color: #00ff90;
}

.audio-section {
  margin: 40px auto;
  max-width: 95%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.song-title {
  margin-top: -10px;
  font-size: 18px;
}

audio {
  width: 100%;
  margin-top: 10px;
}
